[Desktop Entry]
Type=Application
Exec=sslocal -c /etc/shadowsocks.json
Name=Shadowsocks
Comment=Proxy
Icon=/usr/local/share/icons/hicolor/128x128/apps/ssw128.png

# Shadowsocks config file:
# https://github.com/shadowsocks/shadowsocks/wiki/Configuration-via-Config-File

# Icon source:
# https://github.com/shadowsocks/shadowsocks-windows/blob/master/shadowsocks-csharp/Resources/ssw128.png
